<footer>
<a class="footer-link" href="https://www.linkedin.com/in/karolina-monnier-6b42a0a0">LinkedIn</a>
<a class="footer-link" href='https://twitter.com/KarolinaMonnier?s=07'>Twitter</a>
<a class="footer-link" href="https://gentle-cove-46147.herokuapp.com/">Website</a>

<p class="copyrights">&copy;Kalmon 2021</p>
</footer>


</body>

</html>
