<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="To Do List">
  <meta name="keywords" content="To Do List, EJS, Mongoose">
  <meta name="author" content="KM">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>To Do List</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&family=Hind+Siliguri:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="/Images/favicon-list.ico">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
